.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 6fr;
    grid-template-rows: minmax(100vh, auto);


    
   
}

.wrapper > div {
    /*background:#eee;*/
    padding: 1em;
    border-radius: 20px solid;
    border:black;
}

.wrapper .subgrid{
    display:grid;
    align-content: center;
    justify-content: center;
    margin-right: 25%;
    

   

}

.subgrid > .searchBox {


   
}

.subgrid > .resultTable {

}
