.wrapper{
    display:grid;
    grid-template-columns: 1fr 3fr;
    /*grid-auto-rows: minmax(50px, auto);*/
    
    /*justify-items: stretch; 
        where the content in the cell will appear. stretch is default, takes up as much space as your template-columns allows*/
 /*    grid-template-columns:1fr 2fr 1fr;
    gap: 1em;
    grid-auto-rows: minmax(100px, auto); /*100px by default, but if content bigger than scale that row to the size of content*/
    /*grid-auto-rows: 100px;*/
    /* row-gap: 2em;
    column-gap: 1em;
    gap: 5em; "gap" property sets the column and row gap to the same value 
     grid-template-columns:70% 30%; //can use %s instead of fractional units, but fr rec'd*/
}

.wrapper > div {
    background:#eee;
    padding: 1em;
}

/* div:nth-child(odd) = every other div with that class has these styles*/
.wrapper > div:nth-child(odd){ 
    background: #ddd;
}

/* .nested {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
}

.nested > div {
    border: #333 1px solid;
    padding: 1em;
    
} */